body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    margin: 0;
    padding: 0;
}

header {
    background-color: #ffcc00;
    padding: 10px 0;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
}

header .logo {
    width: 100px; /* Ajuste conforme necessário para maior tamanho */
    height: auto;
    margin-right: 20px;
    align-self: flex-start; /* Alinha a imagem à esquerda */
}

h1 {
    margin: 0;
    flex-grow: 1; /* Faz com que o título ocupe o espaço restante */
}

main {
    padding: 20px;
}

.tracking {
    background-color: #fff;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    margin-bottom: 20px;
}

.tracking h2 {
    margin-top: 0;
}

label {
    display: block;
    margin-bottom: 10px;
}

input[type="text"] {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.captcha {
    display: flex;
    align-items: center;
}

.captcha img {
    margin-right: 10px;
}

button {
    background-color: #007bff;
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

button:hover {
    background-color: #0056b3;
}

.promo {
    background-color: #007bff00;
    color: #fff;
    padding: 20px;
    border-radius: 5px;
    text-align: center;
}